.header__logo {
    width: 104px;
    height: 24px;
    margin: 0;
    margin-left: 27px;
}

@media screen and (min-width: 640px) {
    .header__logo {
        margin: 0 auto;
        width: 142px;
        height: 33px;
    } 
}

@media screen and (min-width: 710px) {
    .header__logo {
        width: 142px;
        height: 33px;
    } 
}