.profile__subtitle {
    margin: 0;
    max-width: 90%;
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 710px) {
    .profile__subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 900px) {
    .profile__subtitle {
        padding-top: 16px;
        font-size: 18px;
        line-height: 22px;
    }
}